* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
align-items: center;
    
    height: 100vh;
    background-image: linear-gradient(120deg, yellow, #ed934e);
}
h1 {
    min-height: 20vh;
    color: white;
}
form {
    min-width: 30vh;
    padding: 0px;
}
input{
    border: 0px;
    width: 30vw;
    height: 5vh;
    margin: 0px;
    border-radius: 10px;
    padding: 5px;
}


button, .todoadd{
    margin: 0px;
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
    border: 10px;
    cursor: pointer;
}

 button ,.todoadd:hover{
    border: 10px;
}
.todolisth {
    display: none;
}


.todocontiner {
    margin: 20px;
}
.todoitem {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;

}